<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AgregarBodega</servlet-name>
        <servlet-class>servlet.AgregarBodega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarBodega</servlet-name>
        <servlet-class>servlet.EliminarBodega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarBodega</servlet-name>
        <servlet-class>servlet.ModificarBodega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarFarmaceutico</servlet-name>
        <servlet-class>servlet.AgregarFarmaceutico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarFarmaceutico</servlet-name>
        <servlet-class>servlet.EliminarFarmaceutico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarFarmaceutico</servlet-name>
        <servlet-class>servlet.ModificarFarmaceutico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarMedicamento</servlet-name>
        <servlet-class>servlet.AgregarMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMedicamento</servlet-name>
        <servlet-class>servlet.EliminarMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMedicamento</servlet-name>
        <servlet-class>servlet.ModificarMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDoctor</servlet-name>
        <servlet-class>servlet.LoginDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CierreSession</servlet-name>
        <servlet-class>servlet.CierreSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarDoctor</servlet-name>
        <servlet-class>servlet.AgregarDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDoctor</servlet-name>
        <servlet-class>servlet.EliminarDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDoctor</servlet-name>
        <servlet-class>servlet.ModificarDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFarmaceutico</servlet-name>
        <servlet-class>servlet.LoginFarmaceutico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPaciente</servlet-name>
        <servlet-class>servlet.EliminarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPaciente</servlet-name>
        <servlet-class>servlet.ModificarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntregarMedicamento</servlet-name>
        <servlet-class>servlet.EntregarMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarTratamiento</servlet-name>
        <servlet-class>servlet.AgregarTratamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTratamiento</servlet-name>
        <servlet-class>servlet.EliminarTratamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPaciente</servlet-name>
        <servlet-class>servlet.AgregarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarReserva</servlet-name>
        <servlet-class>servlet.EliminarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarReserva</servlet-name>
        <servlet-class>servlet.AgregarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarMedicamento</servlet-name>
        <servlet-class>servlet.BuscarMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarCorreo</servlet-name>
        <servlet-class>servlet.EnviarCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorreoEnvia</servlet-name>
        <servlet-class>servlet.CorreoEnvia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarReserva</servlet-name>
        <servlet-class>servlet.BuscarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarReserva</servlet-name>
        <servlet-class>servlet.ModificarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformeMedicamento</servlet-name>
        <servlet-class>servlet.InformeMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformeReserva</servlet-name>
        <servlet-class>servlet.InformeReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevisarStock</servlet-name>
        <servlet-class>servlet.RevisarStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarReceta</servlet-name>
        <servlet-class>servlet.AgregarReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarReceta</servlet-name>
        <servlet-class>servlet.EliminarReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarReceta</servlet-name>
        <servlet-class>servlet.ModificarReceta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarBodega</servlet-name>
        <url-pattern>/AgregarBodega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarBodega</servlet-name>
        <url-pattern>/EliminarBodega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarBodega</servlet-name>
        <url-pattern>/ModificarBodega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarFarmaceutico</servlet-name>
        <url-pattern>/AgregarFarmaceutico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarFarmaceutico</servlet-name>
        <url-pattern>/EliminarFarmaceutico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarFarmaceutico</servlet-name>
        <url-pattern>/ModificarFarmaceutico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarMedicamento</servlet-name>
        <url-pattern>/AgregarMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMedicamento</servlet-name>
        <url-pattern>/EliminarMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMedicamento</servlet-name>
        <url-pattern>/ModificarMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDoctor</servlet-name>
        <url-pattern>/LoginDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CierreSession</servlet-name>
        <url-pattern>/CierreSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarDoctor</servlet-name>
        <url-pattern>/AgregarDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDoctor</servlet-name>
        <url-pattern>/EliminarDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDoctor</servlet-name>
        <url-pattern>/ModificarDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFarmaceutico</servlet-name>
        <url-pattern>/LoginFarmaceutico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPaciente</servlet-name>
        <url-pattern>/EliminarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPaciente</servlet-name>
        <url-pattern>/ModificarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntregarMedicamento</servlet-name>
        <url-pattern>/EntregarMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarTratamiento</servlet-name>
        <url-pattern>/AgregarTratamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTratamiento</servlet-name>
        <url-pattern>/EliminarTratamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPaciente</servlet-name>
        <url-pattern>/AgregarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarReserva</servlet-name>
        <url-pattern>/EliminarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarReserva</servlet-name>
        <url-pattern>/AgregarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarMedicamento</servlet-name>
        <url-pattern>/BuscarMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarCorreo</servlet-name>
        <url-pattern>/EnviarCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorreoEnvia</servlet-name>
        <url-pattern>/CorreoEnvia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarReserva</servlet-name>
        <url-pattern>/BuscarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarReserva</servlet-name>
        <url-pattern>/ModificarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformeMedicamento</servlet-name>
        <url-pattern>/InformeMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformeReserva</servlet-name>
        <url-pattern>/InformeReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevisarStock</servlet-name>
        <url-pattern>/RevisarStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarReceta</servlet-name>
        <url-pattern>/AgregarReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarReceta</servlet-name>
        <url-pattern>/EliminarReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarReceta</servlet-name>
        <url-pattern>/ModificarReceta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
